[BASIC]
good-names=i,j,k,ex,Run,_,log,app,api,id

[MESSAGES CONTROL]
# I much prefer `if len(SEQUENCE):` to `if SEQUENCE`.
# The code duplication warning can't be disabled per-file, so disable it
# globally.
disable=len-as-condition,duplicate-code

[TYPECHECK]
ignored-classes=responses

[FORMAT]
# Maximum number of characters on a single line.
max-line-length=79

[MASTER]
init-hook='import sys; sys.path.append(".")'
